.flex-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: blueviolet;
}

.flex-header>div {
    line-height: 75px;
    font-size: 30px;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(16, 173, 247);
}

.flex-container>div {
    background-color: white;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}